name: Build and deploy game

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest

    permissions:
      pages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Rust toolchain
        uses: hecrj/setup-rust-action@v2.0.1
        with:
          rust-version: stable

      - name: Install zip
        shell: bash
        run: choco install zip -y

      - name: Build artifact
        run: cargo build --release

      - name: Copy files to output folder
        shell: bash
        run: |
          mkdir -p output
          cp -r "$GITHUB_WORKSPACE/assets" output/assets
          cp target/release/stellarion.exe output/
          cd output
          zip -r ../stellarion.zip .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: stellarion-zip
          path: stellarion.zip

  # Separate job since butler only works on linux and we need
  # to run cargo build on windows to generate the .exe
  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: stellarion-zip
          path: .

      - name: Deploy to itch.io
        uses: manleydev/butler-publish-itchio-action@master
        env:
          BUTLER_CREDENTIALS: ${{ secrets.BUTLER_CREDENTIALS }}
          CHANNEL: windows
          ITCH_GAME: stellarion
          ITCH_USER: tvdboom
          PACKAGE: stellarion.zip
